.usersList {
  padding: 0;
  margin:  0;
  list-style-type: none;

  &__item {
    display: block;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 1.1rem;
    }
  }
}


.minimalProfileCard {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.8rem;

  &__avatar {
    padding: 0.5rem;
  }

  &__avatar--text {
    --avatar-text-size: 1rem;
    --avatar-padding: 0.8rem;

    padding: var(--avatar-padding);
    min-width: calc(var(--avatar-text-size) + 2 *var(--avatar-padding));
    border-radius: 0.3rem;
    background-color: var(--theme-primary-light);
    color: var(--pico-primary);
    font-size: var(--avatar-text-size);
    line-height: 1;
    text-align: center;
  }

  &__content {
    font-size: 1rem;
    color: var(--ui-element-color);
    letter-spacing: 0.02em;
  }

  &__name {
    color: inherit;
    font-size: 1em;
  }

  &__type {
    opacity: 0.5;
    color: inherit;
    font-size: 0.85em;
  }
}
